<p>{{quote.author}}</p>
<p>This quote was created was created on {{quote.createdDate|date|uppercase}}days ago</p>


<button (click)= 'quoteDelete(true)' class="btn btn-outline-danger">Delete Quote</button>

<!-- <button (click)= 'qouteUpvote(true)'>Upvote</button>
<button (click)= 'quoteDownvote(true)'>Downvote</button>


<div class="votebox">
  <span class="fa fa-arrow-up vote up"
        (click)="upvote()"
        [ngClass]="{'active' : userVote > 0 }">
  </span>
  <span class="vote-count">{{voteCount}}</span>

  <span class="fa fa-arrow-down vote down"
        (click)="downvote()"
        [ngClass]="{'active' : userVote < 0 }">

  </span>
</div> -->
